* {
    padding: 0;
    margin: 0;
}

body {
    background: url(../image/rossiya-fon.png);
    background-repeat: no-repeat;
    background-position: top center;
    font: normal 16px Arial, Helvetica, sans-serif !important;
}

@media screen and (max-width: 320px) {
    .container {
        min-width: 30% !important;
    }

    .top {

        height: 35px !important;
    }

    .hidden {

        float: none;
        margin: 0 !important;
    }

}

@media screen and (max-width: 563px) {
    .container {
        min-width: 50% !important;
    }

    .top {

        height: 35px !important;
    }

}

@media screen and (max-width: 745px) {
    .container {
        min-width: 50% !important;
    }

    .header {
        padding: 0% 0% 0% 10%;
        margin: 0 auto;
    }

    .menu {
        margin-bottom: 64px !important;
    }

    #text {

    }
}

@media screen and (max-width: 800px) {
    .container {
        min-width: 67% !important;
    }

    .header {
        padding: 0% 0% 0% 15%;
        margin: 0 auto;
    }

    .menu_header {
        padding: 22px 33px !important;
    }

    #logo {
        margin-bottom: 44px !important;
    }

    .logo {
        width: 100% !important;
        padding-left: 0px !important;
        text-align: center;
        float: none !important;
    }

    .name {
        text-align: center !important;
        padding: 9px 5px 0px 0px !important;

        /*padding-top: 86px;*/

    }

    .list-menu > ul {
        display: none !important;
    }

    .list-menu {
        width: 24% !important;
        float: left !important;
    }

    .hidden {
        display: block !important;
        width: 180px !important;
        padding: 4px 0px 6px 4px;
        margin: 15px 0px 0px -34px;
    }

    .main {
        padding: 17px 44px 0px 0px;
        margin: 0px 40px 0px 0px;
    }

    .search {
        background-color: #FFFFFF;
        height: 132px !important;
        width: 95% !important;

    }

    #text {
        padding: 0px 349px 0px 0px !important;
        float: left !important;
        width: 100% !important;
        margin: 0px 380px 0px 11px !important;

    }

    .categories select {
        padding: 0px 0px 0px 0px !important;
        float: left !important;
        width: 93% !important;
        margin: 0px 380px 0px 25px !important;
    }

    .btn-search {
        margin-left: 25px !important;
    }
}

@media screen and (max-width: 940px) {
    .container {
        min-width: 85% !important;
    }

    .header {
        padding: 0% 0% 0% 10%;
        margin: 0 auto;
    }

    .logo {

        padding-left: 60px;
    }

    .main {
        float: none;
    !important;

    }

    .menu {
        padding-bottom: 51px !important;

    }

    .search {
        height: 115px !important;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        min-width: 95% !important;
    }

    .header {
        padding: 0% 0% 0% 6.1%;
        margin: 0 auto;
    }

    #logo {

        max-width: 95% !important;

    }

    #text {
        width: 80% !important;

    }

    #search {
        margin-bottom: 44px !important;
    }

}

.container {
    margin: 0 auto;
    min-width: 1240px;
}

a {
    color: #3B5998;
    text-decoration: none;
}

img {
    vertical-align: -16%;
}

.header {
    background: #29488A;

}

.header p {
    line-height: 16px;
    color: #ffffff;
}

.top {
    margin: 0 auto;
    padding: 8px 0 5px 0px;
    max-width: 1240px;
    height: 19px;
}

.top a {
    color: #FFA200;
}

#logo {
    margin: auto;
    padding: 10px 0 5px 3px;
    max-width: 1240px;
    height: 80px;
}

.logo {
    float: left;
    width: 30%;
}

.name {
    padding: 20px 10px 0px 0px;
    text-align: right;

}

#logo .name h1 {
    font: normal 26px Arial, Helvetica, sans-serif;
    color: #2E4D8E;
    text-shadow: 5px 5px 15px #848484;
}

.menu {
    margin: auto;
    max-width: 1240px;
    padding: 14px 16px 46px 0px;
}

.menu_header {
    float: left;
    width: 151px;
    padding: 5px 0px;
}

.menu_header a {
    background: #005A00;
    color: #ffffff;
    padding: 7px 11px 7px 9px;
    box-shadow: 7px 7px 9px -1px #3F8C00;
}

.menu_header a:hover {
    background-color: #29488A;
}

.main {
    float: right;
    width: 184px;
}

.main a {
    margin: -2px -1px 0px 0px;;
    float: right;
    background: #005A00;
    color: #ffffff;
    font-size: 16px;
    padding: 7px 10.5px 6px 10px;
    box-shadow: 7px 7px 9px -1px #3F8C00;
}

.main a:hover {
    background-color: #29488A;
}

.list-menu {
    width: 471px;
    float: left;
}

.list-menu > ul {
    text-shadow: 5px 5px 15px #848484;
    font: normal 16px / 1.2em Arial, Helvetica, sans-serif;
}

.list-menu li {
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: bold;
    padding: 5px 10px;

}

#nav li {
    float: left;
    margin: -3px 6px 0px 0px;
    position: relative;
    display: block;
}

#nav ul {
    list-style: none;
    position: absolute;
    left: -9999px;
    opacity: 0;

}

#nav li:hover ul {
    left: 0;
    opacity: 1;
}

.list-menu a:hover {
    color: #555;
}

.list-menu li:hover {
    background: #FFFFFF;
    color: #555;
    text-shadow: none;
}

.drop-down {
    color: #FFFFFF;
    margin: 2px 0px 0px -1px;
    text-shadow: none;
    line-height: 1.2;
}

.drop-down li {
    width: 155px;
    background: #FFFFFF;
    padding: 8px 12px;
    float: left;
}

.drop-down a {
    padding: 0;
    font-size: 12px;
    line-height: 13px;
    color: #555;

}

.drop-down li:hover {

    background: #F4F4F4;
    background-size: cover;
    text-decoration: underline;
    adding: 8px 12px
}

.selected, .selected a {
    color: #555;
    background: #FFFFFF;
    text-shadow: 5px 5px 15px #848484;
}

.hidden {
    display: none;
    color: #666666;
    font-size: 16px;
    text-transform: uppercase;
}

#search {

    padding-right: 16px;
}

.search {
    max-width: 1240px;
    margin: auto;
    padding: 14px 0px;
    top: 24px;
    right: 8px;
    background: url(../image/block.png);
    background-repeat: repeat-x;
    background-position: top center;
    background-color: #FFFFFF;
    height: 62px;
    box-shadow: 7px 7px 9px -1px #656A71;
}

.text {
    float: left;
    width: 50%;
    padding: 6px 15px;
}

.categories {
    margin: 6px -6px 0px 0px;
    float: right;
}

#text {
    width: 510px;
    height: 26px;
    padding: 3px 9px 4px 8px;
    border: 1px solid #999;
    font-size: 14px;
    color: #666666;
    border: 1px solid #D9D9D9;
}

.btn-search {
    background: transparent url(../image/btn_searc.png);
    width: 76px;
    height: 35px;
    border: none;
    text-indent: -9999px;
    margin: 0px 21px 0px 1px;
}

.btn-search:hover {
    background-position: bottom;
}

.categories select {
    font-size: 17px;
    margin: 0px 5px 0px 0px;
    width: 330px;
    height: 37px;
    padding: 0px 0px 0px 7px;
    color: #666666;
    border: 1px solid #D9D9D9;
}

.adc {
    margin-top: 25px;
    padding-right: 16px;
}

.form {
    margin: auto;
    max-width: 1240px;
    padding: 66px 0px 0px 0px;
    background-color: #FFFFFF;
    box-shadow: 7px 7px 9px -1px #656A71;
}

#line {
    padding-left: 13px;
}

.line {
    margin-top: 51px;
    right: 100px;
    border-bottom: 1px dotted #BDBDBD;
    width: 98.8%;
}

.title {
    font: normal 18px / 1.8em Arial, Helvetica, sans-serif;
    margin: -46px 14px;
    color: #464646;

}

.empty {
    padding: 10px 0;
    margin-top: 20px;
}